<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatWithYourData_Bot</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>ChatWithYourData_Bot</h1>
      </header>
      <div>{{ bokeh_script | safe }}</div>
      <div class="chat-panel">{{ script | safe }}</div>
    </div>
  </body>
</html>
